{% extends 'admin/base.html.twig' %}

{% block title %}Commentaires{% endblock %}

{% block body %}
    <h2 class="mb-4">Liste des commentaires</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr><th>Contenu</th><th>Auteur</th><th>Article</th><th>Action</th></tr>
            </thead>
            <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.author.username }}</td>
                <td>{{ comment.article.title|title }}</td>
                    <td>
                        <form method="post" action="{{ path('admin_delete_comment', {'id': comment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?')";>
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete_comment_' ~ comment.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
