{% extends 'admin/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h2 class="mb-4">Liste des utilisateurs</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr><th>Nom d'utilisateur</th><th>Email</th>
                <th>Nombre d'articles partagés</th>
                <th>Action</th></tr>
            </thead>
            <tbody>

            {% for key in usersWithCounts %}
                {% if 'ROLE_ADMIN' not in key.user.roles %}
                    <tr>
                        <td>{{ key.user.username }}</td>
                        <td>{{ key.user.email }}</td>
                        <td>{{ key.articleCount }}</td>
                        <td>
                            <div class="d-flex gap-2">
                                <a class="btn btn-primary btn-sm" href="{{ path('app_profile_show', { username: key.user.username } )}}"><i class="bi bi-eye"></i></a>    
                                <form method="post" action="{{ path('admin_delete_user', {'id': key.user.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')";>
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete_user_' ~ key.user.id) }}">
                                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
