{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Accessibilité et infos pratiques{% endblock %}
{% block meta_description %}{{ article.description|slice(0, 150) }}...{% endblock %}
{% block meta_keywords %}{{ article.title }}, tourisme accessible, voyage PMR, {{ article.city }}, {{ article.country }}{% endblock %}

{% block body %}

    <div class="container">

        {# fil d'ariane #}
        <nav class="mt-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-reset text-decoration-none" href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a class="text-reset text-decoration-none" href="{{ path('app_profile_show', {'username':  article.author.username}) }}">{{ article.author.username|title}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ article.title|title }}</li>
            </ol>
        </nav>

        <div class="my-5">
            <div class="card p-sm-5 p-4 shadow rounded-4 mx-auto" style="max-width: 900px; width: 100%;">
                
                {% include 'article/_carroussel.html.twig' %}

                {# Informations de l'article #}
                <div>
                    <div class="d-flex flex-column flex-sm-row align-items-baseline" aria-label="Note d'accessibilité : {{ article.rating }} sur 5">
                        <p class="mb-0 me-3" >Note d'accessibilité :</p>
                        <div>
                            {% for i in 1..5 %}
                                {% if i <= article.rating %}
                                    <span class="fs-5 text-warning" aria-hidden="true">&#9733;</span> 
                                {% else %}
                                    <span class="fs-5 text-body-tertiary" aria-hidden="true">&#9733;</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <h2 class="my-2 title_article">{{ article.title|title }}</h2>
                    <div class="my-2 small">
                        <span class="city">{{ article.city|title }}, {{ article.country|upper }}</span>
                        <span class="separator">|</span>
                        <span class="date">{{ article.createdAt|date('d.m.Y') }}</span>
                    </div>
                        
                    <div class="d-flex justify-content-between align-items-end mb-3">
                        <div class="author d-flex gap-2 align-items-center">
                            <img class="rounded-circle" src="{{ asset('images/avatars/' ~ article.author.avatar) }}" alt=" nom de l'utilisateur {{ article.author.firstname ~ article.author.lastname }}" height="50" width="50" />
                            <div class="d-flex flex-column">
                                <span class="small">Publié par </span>
                                <span> <strong><a class="text-reset text-decoration-none" href="{{ path('app_profile_show', {'username':  article.author.username}) }}">{{ article.author.username|title }}</a></strong></span>
                            </div>
                        </div>
                        <div class="d-flex gap-3">
                            <span class="badge text-dark"><i class="fa-regular fa-eye me-1"></i> {{ article.views }}</span>
                            <span class="badge text-dark"><i class="fa-regular fa-comment me-1"></i> {{ commentCounts[article.id]|default(0) }}</span>
                        </div>
                    </div>
                    <p class=" mb-2">{{ article.description|nl2br }}</p>
                </div>
                
                {# Boutons d'administration (seul celui qui a publié l article) #}
                <div class="d-flex justify-content-end my-3">
                    {% if is_granted('POST_EDIT', article) %}
                        <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn"><small><i class="fas fa-edit" aria-hidden="true"></i> Modifier l'article</small></a>
                    {% endif %}

                    {% if is_granted('POST_DELETE', article) %}
                        {{ include('article/_delete_form.html.twig', { article: article }) }}
                    {% endif %}
                </div>
            </div>

            {# Boutons d'action #}
            <div class="mt-4 d-flex gap-2 flex-wrap justify-content-center">
                {% if is_granted('POST_EDIT', article) %}
                    <a href="{{ path('app_profile_show', {'username': app.user.username}) }}" class="btn btn-clear-transparent" aria-label="Retourner à la liste des articles de {{ app.user.username }}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Retour à la liste</a>
                {% endif %}
                <a href="{{ path('app_home') }}" class="btn btn-clear-transparent" aria-label="Retourner à la page d'accueil"><i class="fas fa-home" aria-hidden="true"></i> Retour à l'accueil</a>                   
            </div>

        </div>

        {# commentaires #}
        <div class="my-5">
            {% include 'article/_comment.html.twig' %}
        </div>

    </div>      

{% endblock %}